ky-017.json
[
    {
        "id": "8fffb9c5cbedad6c",
        "type": "tab",
        "label": "Anaid-KY-017",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e29d652eea6aa9c3",
        "type": "mqtt in",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "topic": "utng/alm/ky-017",
        "qos": "2",
        "datatype": "auto",
        "broker": "bf0803e82877e801",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "e5b5d217e8bb7ae1",
                "6a2bb175afcc69fe"
            ]
        ]
    },
    {
        "id": "55eec97e8bbb6515",
        "type": "mqtt out",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "topic": "utng/alm/ky-017",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf0803e82877e801",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "e5b5d217e8bb7ae1",
        "type": "debug",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "168e44af321ffe6b",
        "type": "inject",
        "z": "8fffb9c5cbedad6c",
        "name": "temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "d9dda94f3da66875"
            ]
        ]
    },
    {
        "id": "d9dda94f3da66875",
        "type": "function",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "func": "global.set(\"switch\", !global.get(\"switch\"));\nmsg.payload=global.get(\"switch\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"switch\", false);",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "55eec97e8bbb6515"
            ]
        ]
    },
    {
        "id": "0266ce23a0118113",
        "type": "ui_switch",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "e0e13c26c517ef67",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "55eec97e8bbb6515"
            ]
        ]
    },
    {
        "id": "a91b295989f1139b",
        "type": "ui_text",
        "z": "8fffb9c5cbedad6c",
        "group": "44a2d54dfbd8ceed",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "microfono Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a2bb175afcc69fe",
        "type": "function",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "a91b295989f1139b",
                "b437269c6cba5a2a"
            ]
        ]
    },
    {
        "id": "00cf838226ab27b6",
        "type": "postgresql",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(10,8, '{{msg.payload}}');",
        "postgreSQLConfig": "bff11fc8ef4ecedf",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "e5b5d217e8bb7ae1"
            ]
        ]
    },
    {
        "id": "b437269c6cba5a2a",
        "type": "function",
        "z": "8fffb9c5cbedad6c",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "00cf838226ab27b6"
            ]
        ]
    },
    {
        "id": "bf0803e82877e801",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.135",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e0e13c26c517ef67",
        "type": "ui_group",
        "name": "KY-019",
        "tab": "ab6cc718d668e6eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44a2d54dfbd8ceed",
        "type": "ui_group",
        "name": "ky-023",
        "tab": "225174cb36120e36",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bff11fc8ef4ecedf",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "ab6cc718d668e6eb",
        "type": "ui_tab",
        "name": "Relay",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "225174cb36120e36",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]